@charset "utf-8";

header,main,footer{
  width:  400px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  display: block;
}
.h_box1{
  height: 100px;
  background: #ff0000;
  position: relative;
}
.h_inbox1{
  top: 20px;
  right: 20px;
  padding:10px;
  background: #ffffff;
  position: absolute;
}
.h_inbox2:not(:first-child){
  margin-left: 10px;
}
.h_inbox2{
  width: 40px;
  height: 40px;
  background: #a9004b;
  float: left;
}
.m_box1{
  width: 150px;
  height:250px;
  background: #00ff51;
  float: left;
}
.m_box2{
  width: 250px;
  height:250px;
  background: #8c2727;
  float:left;
  position: relative;
}
.m_inbox0{
  position: absolute;
  top:40px;
  left:40px;
}
.m_inbox1{
  width: 140px;
  height: 40px;
  margin-bottom: 10px;
  background: #ff863f;
  border: 5px solid #ffffff;
}
.f_box1{
  height: 100px;
  background: #ffd000;
}